/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&family=Oswald:wght@400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');
@font-face {
    font-family:OpenSans-Semibold;
    src: url(open-sans.semibold.ttf);
}
.signin ul li a {
    text-decoration: none!important;
}
a{
    text-decoration: none!important;
}
.ab-readmore a {
    text-decoration: none!important;
    font-family:OpenSans-Semibold;
}
.choose-red a {
    text-decoration: none!important;
}
.choose-red a:hover {
    color: white;
}
.menu-item a{
    text-decoration: none!important;
}
.who-red a{
    text-decoration: none!important;
}
.who-red a:hover{
color: white;
}
.menus::before {
 
    background: url(./images/nav.png) left center no-repeat;
 
}

.nav .space {
    background-image: url(./images/drop.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 39%;
    width: 7px;
}
.comon{
    text-decoration: none!important;
}
.text-left-h{
    font-family:OpenSans-Semibold;
    font-weight:700;
    font-size: 50px;
}
.slide-text {
    margin-bottom: 90px!important;
    }
@media only screen and (max-width: 767px){
 
    .menus .nav {
        height: 100%;
        width: 250px;
        padding-top: 60px;
        overflow: auto;
        /* display: none!important; */
        z-index: 9999!important;
        display:none;
        padding-right: 9px;
    }
    .slide-text {
        width: 100%;
        margin-bottom: -20px!important;
    }
    .slide-text p{
      line-height: 15px;
      font-size: 9px;
      margin-bottom: 0;
    }
 .slide-text h1 {

    padding-bottom: 0px;
    font-size: 14px;
}
.toggleMenu {
    display: block;
    }
}
a{
    font-family: 'Oswald', sans-serif!important;
    font-weight: 400!important;
}
/* slider */

.fa-chevron-right {
    content: "\f054";
    background: black;
    padding: 60px 10px;
    font-size: 35px;
}
.fa-chevron-left {
    content: "\f054";
    background: black;
    padding: 60px 10px;
    font-size: 35px;
}
.carousel-control-next {
    right: 0px;
    width: 7%!important;
}
.carousel-control-prev {
    right: 0px;
    width: 10%!important;
}
.carousel-item {
    z-index: 0;
    max-height: 680px;
}
.slide-text h1{
    color: white;
    font-family: OpenSans-Semibold;
    border-bottom:2px solid #0055;
    position: relative;
    padding-bottom: 7px;
}
.slide-text h1::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    color:red;
}
/* *{
    font-family: OpenSans-Semibold
} */
.ab-hd span{
    font-family: Oswald;
    font-weight: 700;
}

.who-head{
    font-family: OpenSans-Semibold;
    font-weight: 700;
}
.who-desc p:nth-child(1) {
    font-family: OpenSans-Semibold;
    font-size: 24px;
}
/* service slider */

#news-slider{
    margin-top: 10px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    /* border-radius: 15px; */
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #BBCBD8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    /* margin: -12px 15px 8px 15px; */
    /* margin-left: -10px; */
}
.post-slide .post-img img{
    width: 100%;
    height: 400px !important;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    /* opacity:0; */
    /* background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%); */
    transition:all 0.50s linear;
}
/* .post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
} */
.serv-slide{
    min-height: 333px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
   
    /* border-radius: 15px; */
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:white;
}
.post-slide:hover .post-content {
    background-color:  #16a9d1;
}
.post-slide:hover .post-description {
 color: white;
}
.post-slide:hover .post-date, .post-date i {
    color: white;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
   padding: 40px 10px 5px 10px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px 40px;
    float: right;
    font-size: 20px;
    font-weight: 600;
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 10px 20px -10px #1376C5;
    border-radius: 25px;
    text-transform: uppercase;
    width: 60%;
    box-shadow: 0 0 25px -8px #0058A8;
    border: none;
    outline: none;
    text-align: center;
    background: rgb(0,88,168);
    background: -moz-linear-gradient(left, rgba(0,88,168,1) 0%, rgba(105,184,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,88,168,1) 0%,rgba(105,184,255,1) 100%);
    background: linear-gradient(to right, rgba(0,88,168,1) 0%,rgba(105,184,255,1) 100%);
}
.post-slide .read-more:hover{
    background: #3498DB;
    text-decoration:none;
    color:#fff;
}
.owl-wrapper{
    padding-bottom: 20px;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    left:-50px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92B4D0;
    transition: background 0.5s ease 0s;
}


.owl-theme .owl-controls {
    justify-content: center;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:50%;
    right: -100px;
    transform: translate(-50%,-50%);
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92B4D0;
    transition: background 0.5s ease 0s;
}
.owl-theme .owl-controls .owl-buttons div{
    padding: 0px 20px;
    border-radius: 10px;
    color: #FFF;
    margin: 5px;
    font-size: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: black;
    filter: Alpha(Opacity=50);
    opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div:hover ,.owl-theme .owl-controls .owl-buttons div:active{
    background-color: black;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    /* color: #333; */
    color: white;
    font-size:40px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
.post-content{
    position: relative;
}
.tag{
    background: rgba(0, 0, 0, 0.7);
    color: #fff !important;
    display: inline-block;
    /* font-family: OpenSans-bold; */
    font-family: OpenSans-Semibold;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 32px;
    position: absolute;
    text-transform: uppercase;
    top: -30px;
    left: -18px;
    
}
.tag:hover{
    text-decoration: none;
}
.tag::before {
    background: rgba(0, 0, 0, 0) url(./images/tagdown.png) no-repeat scroll center center;
    content: "";
    height: 15px;
    left: -7px;
    position: absolute;
    bottom: -15px;
    width: 29px;
}
.tag::after {
    background: rgba(0, 0, 0, 0) url(./images/tagup.png) no-repeat scroll center center;
    content: "";
    height: 15px;
    left: -7px;
    position: absolute;
    top: -14px;
    width: 29px;
}


@media screen and (max-width:767px){
    .post-slide .read-more{
        padding: 10px 30px;
    }
    .owl-controls .owl-buttons .owl-prev
    {
        left: 150px;
        top:100%;
    }
    .owl-controls .owl-buttons .owl-next{
        right: 80px;
        top:100%;
        margin-right: 18px;
    }


    .project-slider .owl-controls .owl-buttons .owl-next{
        position: absolute!important;
        right: 80px;
        top:100%;
        margin-right: 18px;
    }
    .project-slider .owl-controls .owl-buttons .owl-prev{
        position: absolute!important;
        left: 150px;
        top:100%;
        }


    .tag {
        top: -32px;
    }
    .owl-theme .owl-controls .owl-buttons div{
       
        opacity: 0.9;
    }
    .signin ul,.social ul{
        padding-left: 0;
    }
.logo{
    background-color: white;
}
.fixed {
        position: fixed;
        top:0; left:0;
        width: 100%; 
        padding-top: 20px;
        padding-bottom: 12px;
    }
    .fixed img{
        width: 75%;
        transition-duration: 1s;
    }
    .ab-readmore {
        margin-top: 50px;
        margin-left:0!important;
    }
    .post-slide .read-more {
        padding: 14px 20px!important;
        font-size: 16px;
    }
  
}

@media only screen and (max-width:900px)
{
    .mainmenu .collapse a {
  
        font-size: 9px!important;
    
        padding: 17px 12px !important;
      
    }
.navbar-2{
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -4.75rem!important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
}
@media only screen and (max-width:1280px)
{
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
    .post-slide .read-more{
        padding: 10px 40px;
        font-size: 17px;
    }
}



/* project slider */
.project-slider .post-slide .post-img{
     width: 100%;
     height:520px;
}
.project-slider .post-slide .post-img img{
    height: 520px;
    width: 100%;
}

.project-slider .post-slide .post-content{
    padding: 0;
}
.project-slider .post-slide{
    margin: 0 5px 0 5px;
}
.owl-theme .owl-controls {
    justify-content: center;
    margin-left: 20px;
}
.project-slider .owl-controls .owl-buttons .owl-next{
    position: unset;
    margin: auto;
}
.project-slider .owl-controls .owl-buttons .owl-prev{
    position: unset;
    /* margin: auto; */
    margin-left: 20px;
}
    .main-area {
        position: relative;
        width: 50%;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
     .posts-carousel-buttons{
        
     }
     .posts-carousel-buttons a{
          /* display: inline-block; */
          width: 150px;
        padding: 15px 20px;
        text-transform: uppercase;
        font-size: 15px;
        font-family: OpenSans-Semibold;
        box-shadow: 0 6px 10px -6px #000;
        color: #fff;
        background: #000000!important;
        border: 1px solid #000;
        transition: all 0.5s ease-in;
        height: 55px!important;
        line-height: normal;
        border-radius: 0;
        margin: auto;
    }
      .main-area:hover .overlay2 {
        height: 90%;
        background: #1984c8;
      }
      .main-area:hover .overlay1 {
        height: 75%;
        background: #1984c8;
      }
      .overlay ,.overlay1,.overlay2{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 85px;
        transition: .5s ease;
      }
      
      .main-area:hover .overlay {
        height: 65%;
        background: #1984c8;
      }
      .main-area:hover .text a{
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        color: white;
        text-decoration: none;
      }
      .ab-readmore {
        margin-top: 50px;
        margin-left: 25px;
    }
      .text a{
      background: rgba(0, 88, 168, 0.8) none repeat scroll 0 0;
          font-size: 18px;
          font-family: OpenSans-Semibold;
          text-transform: uppercase;
          color: #fff;
          display: block;
          text-align: center;
          padding: 15px 10px 0px 10px;
          transition: all 0.5s ease-in;
          /* margin: 0 !important; */
          height: 85px;
      
      }
      .text {
       text-align:center;
       
      }
      .text p{
        padding: 20px;
     
    text-align: center;
    color: #fff;
       }
       .main-plus{
           position: relative;
       }
 .main-plus::after{
     position: absolute;
     content:"+";
     color: white;
     bottom: 0;
     right: 0;
 }
 /* .f-social ul li:nth-child(4) a{
     position: relative;
 }
 .f-social ul li:nth-child(4) a:after {
    content: "+";
    position: absolute;
    top: 0px;
    right: 3px;
}


.social ul li:nth-child(3) a{
    position: relative;
    padding-right: 5px;
}
.social ul li:nth-child(3) a:after {
    content: "+";
    position: absolute;
    top: 0px;
    right: 3px;
} */

/* .navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: contents!important;
} */
